:root {
  --background-url: url("http://photoeverywhere.co.uk/britain/ukwild/green_ferns3922.JPG");
}

.App {
  background-color: #16181a;
  min-height: 100vh;
  font-family: 'Courier New', Courier, monospace;
}

.App-center {
  margin-left: 20%;
  margin-right: 20%;
  background-image: var(--background-url);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body { margin: 0 }
  .row, .col { overflow: hidden; position: absolute; }
  .row { left: 0; right: 0; }
  .col { top: 0; bottom: 0; }
  .scroll-x { overflow-x: auto; }
  .scroll-y { overflow-y: auto; }

  .header.row { height: 28%; top: 0; }
  .body.row { top: 28%; bottom: 0; }
  .footer.row { height: 0; bottom: 0; }